<!-- I got this Navigation bar template from: https://medium.com/@codewithrandomartical/100-navigation-bar-html-and-css-free-demo-source-code-0cf14eae0abf -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/navbarstyle.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/dashboardstyle.css">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="html-container">
        <div class="html-section">
            <div class="html-project">
                <div class="navigation">
                    <nav>
                        <ul class="nav-type">
                            <li><a href="/home" class="active">Home</a></li>

                            {{#unless isAdmin}}
                            <li><a href="/playlists" class="active1">Playlists</a></li>
                            {{/unless}}

                            {{#if isAdmin}}
                            <li><a href="/viewAccounts" class="active2">Accounts</a></li>
                            {{/if}}

                            <li><a href="/logout" class="active3">Logout</a></li>
                            <p id="usernameDisplay">{{username}}</p>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="dashboard-container">
                <div class="dashboard">
                    <h1>See Everyone's Public Playlists</h1>

                    <hr>
                    {{#each playlists}}
                    <div class="playlist" onclick="showSongs('{{this.playlist_name}}', this)">
                        {{#if ../isAdmin}}
                        <input class="delete-button" type="Submit" value="X"
                            onclick="deletePlaylist('{{this.playlist_name}}')">
                        {{/if}}

                        <h2>{{this.playlist_name}}</h2>
                        <p>Created by: {{this.username}}</p>
                        <div class="songsContainer"></div>
                    </div>
                    {{/each}}

                </div>
            </div>
        </div>
        <script>
            console.log("ADMIN?? " + {{ isAdmin }})

            function deletePlaylist(playlistName) {
                //console.log('Deleting PLAYLIST:', playlistName)
                $.ajax({
                    type: 'POST',
                    url: '/deletePlaylist',
                    //Playlists might contain blank spaces or special characters, decodeURIComponent will properly encode the playlist name before sending it to the server !!
                    data: { playlistName: encodeURIComponent(playlistName) },
                    success: function (response) {
                        location.reload()                   //Reload the page to update the list of playlists
                    },
                    error: function (error) {
                        console.log('Error', error)
                    }
                });
            }

            var currentPlaylist = null
            var currentSongsContainer = null

            function showSongs(playlistName, playlistElement) {
                var songsContainer = playlistElement.querySelector('.songsContainer');

                // If playlist gets clicked again, hide songs
                if (currentPlaylist === playlistName) {
                    currentSongsContainer.innerHTML = ''
                    currentPlaylist = null
                    currentSongsContainer = null
                    return;
                }

                // Otherwise set current playlist to playlist name
                currentPlaylist = playlistName
                currentSongsContainer = songsContainer

                $.ajax({
                    type: 'GET',
                    url: '/showSongs',
                    data: { playlistName: playlistName },
                    success: function (response) {
                        songsContainer.innerHTML = '';

                        response.songs.forEach(function (song) {
                            var songDiv = document.createElement('div');
                            songDiv.classList.add('song')
                            songDiv.innerHTML = `
                                <h2>${song.song_name}</h2>
                                <p>Artist: ${song.artist_name}</p>
                            `;
                            songsContainer.appendChild(songDiv)
                        });
                    },
                    error: function (error) {
                        console.log('Error fetching songs:', error)
                    }
                });
            }

        </script>
</body>

</html>